.results-data-container {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 32px;
    font-weight: 700;
}

table {
    width: 100%;
    margin-top: 15px;
}

.header-text {
    display: flex;
}

.main-search {
    display: flex;
    justify-content: center;
    width: 100%
}

.chips {
    margin-top: 10px;
}

mat-chip {
    background-color: #0B2028!important;
    color: whitesmoke!important;
}

.teams-players .mat-icon-button {
    background-color: #0B2028;
}

.teams-players button {
    background-color:#0B2028;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.teams-players {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.add-circle-button {
    margin-left: 20px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 16px;
    border-color: lightgray;
    border-radius: 7px;
}

.download-button {
    position: absolute;
    right: 220px;
    margin-bottom: 7px;
    font-size: 20px;
    border-color: lightgray;
    border-radius: 7px;
}

.copy-button {
    position: absolute;
    right: 120px;
    margin-bottom: 7px;
    font-size: 20px;
    border-color: lightgray;
    border-radius: 7px;
}

.delete-button {
    position: absolute;
    background-color: rgb(255, 113, 113);
    right: 20px;
    margin-bottom: 7px;
    font-size: 20px;
    border-color: lightgray;
    border-radius: 7px;
}