/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Maven Pro', sans-serif!important; }

.mat-checkbox-frame {
    border-color: white!important;
}

.mat-typography {
    font: 400 14px/20px 'Maven Pro', sans-serif;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background  {
    background-color: #0B2028!important;
}

.trending-search-chips .mat-chip-list-wrapper {
    justify-content: center!important;
    margin-left: 1px;
    margin-right: 1px;
}

.table-filter .mat-form-field-wrapper {
    padding-bottom: 0!important;
}

.mat-standard-chip {
    min-width: none!important;
}