.sports-profile-header {
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.sports-profile-header-container {
    display: flex;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
}

.sports-profile-header div {
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.sports-profile-data {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.name {
    text-align: center;
}

.name h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 36px
}

.bio {
    display: flex;
    justify-content: flex-start;
}

.data-table {
    border: solid darkgrey 1.5px;
    border-radius: 6px;
    width: 300px;
    height: 240px;
    margin: 8px;
    display: flex;
    justify-content: center;

}

.bio-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.value {
    font-size:24px;
    font-weight: bold;
}

.bio-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.year-dropdown {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: inherit;
}