<div class="stats-profile-container">
    <div class="sports-profile-header-container">
        <div class="sports-profile-header">
            <div class="name"><h1>{{player.DraftKingsName}}</h1></div>
            <mat-divider></mat-divider>
            <div class="bio">
                <div class="img-header">
                    <img src={{player.PhotoUrl}}>
                </div>
                <div class="bio-container">
                    <div class="bio-box">
                        <div class="header">Team</div>
                        <div class="value">{{player.Team}}</div>
                    </div>
                    <div class="bio-box">
                        <div class="header">Position</div>
                        <div class="value">{{player.Position}}</div>
                    </div>
                    <div class="bio-box">
                        <div class="header">Height</div>
                        <div class="value">{{player.Height}}</div>
                    </div>
                    <div class="bio-box">
                        <div class="header">Weight</div>
                        <div class="value">{{player.Weight}}</div>
                    </div>
                    <div class="bio-box">
                        <div class="header">Age</div>
                        <div class="value">{{player.Age}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sports-profile-data">
        <div class="data-table"><h1>Stats</h1><mat-divider></mat-divider></div>
        <div class="data-table"><h1>Stats</h1></div>
        <div class="data-table"><h1>Stats</h1></div>
        <div class="data-table"><h1>Stats</h1></div>
        <div class="data-table"><h1>Stats</h1></div>
        <div class="data-table"><h1>Stats</h1></div>
        <div class="data-table"><h1>Stats</h1></div>
        <div class="data-table"><h1>Stats</h1></div>
    </div>

</div>
